@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body, html {
    background-color: white;
}

.h1class {
    color: black;
}

.second-div-main {
    margin-top: -5%;
}

.text-caps {
    font-family: "Inter", sans-serif;
}

.bgcolor {
    background-color: rgb(240, 232, 200);
    padding: 10%;
}

.bgcolortwo {
    background-color: rgb(255, 250, 238);
}

.footerclass {
    background-color: rgb(241, 241, 241);
}

.noblue {
    text-decoration: none;
    color: inherit;
}